<header>
   <div class="container">
      <a class="logo">Tc food Corner</a>
      <ul >
         <li>
            <a  routerLink="/foods"  routerLinkActive="active" *ngIf="userIsLogged != null">Home</a>
         </li>
         <li>
            <a  routerLink="/register" routerLinkActive="active" *ngIf="userIsLogged == null"   >Register</a>
         </li>
         <li>
            <a routerLink="/login" routerLinkActive="active" *ngIf="userIsLogged == null" >login</a>
         </li>
         <li><a routerLink="/cart" routerLinkActive="active" *ngIf="userIsLogged != null">Cart<span>{{cartItemLingth}}</span></a></li>
         <li> <a *ngIf="userIsLogged != null" (click)="logout()">Logout</a></li>

      </ul>
   </div>
</header>
