<header>
   <div class="container">
      <a class="logo">Tc food Corner</a>
      <ul >
         <li>
            <a  routerLink="/foods" routerLinkActive="active" >Home</a>
         </li>
         <li><a>login</a></li>
         <li class="menu-container">
            <a>mohamed</a>
            <div class="menu">
               <a>Profile</a>
               <a>Order</a>
               <a>logout</a>
            </div>
         </li>
         <li><a routerLink="/cart" routerLinkActive="active">Cart<span>{{cartItemLingth}}</span></a></li>
      </ul>
   </div>
</header>
